@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
  40% {
    transform: translateY(-20px);
    transform: scale(1.2);
  }
  60% {
    transform: translateY(-10px);
    transform: scale(0.8);
  }
}

.animate-bounce-square {
  animation: bounce 1.5s infinite;
}
